<footer class="footer">
  <small>
    <p class="navbar-text pull-left"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Pan Dulce 2014</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      
      <li>
        <%= link_to "https://twitter.com/NdrewGarcia" do %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact
        <% end %>
      </li>
    </ul>
  </nav>
</footer>
